nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.nav h1{
    color: var(--primary-color);
    margin :0;
    font-size: 40px;
}

.nav ul{ 
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li{
    margin-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav li a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav .nav-search{
    flex:1;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
}

.nav .nav-search input{
    flex: 1;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    height: 35px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    text-align: center;
}

.nav .nav-search button{
    /* flex: 1; */
    color: var(--text-color-white);
    cursor: pointer;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    height: 35px;
    border-radius: 0 4px 4px 0;
    border-left: 0;
}

h1 a{
    color: var(--primary-color);
    animation: effect 2s linear infinite;

    text-decoration: none;
}

.suggested-result{
    flex: 1;
    position: absolute;
    display: list-item !important; 
    z-index: 10;
    background-color: var(--overlay);
    /* min-width: 250px;
    max-width:  260px; */
    top: 60px;
    border-radius: 0 0 5px 5px;
}

.suggested-result li{
    /* border: 1px solid var(--text-color-white); */
    padding: 5px;

}

.suggested-result li a {
    cursor: pointer;
    /* color: var(--primary-color); */
    color: var(--text-color-white);
    padding-left: 10px;
}

