ul {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  position: relative;
}
.footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer ul li a {
  color: var(--text-color-white);
  text-decoration: none;
}
p {
  color: var(--text-color-white);
  font-size: small;
  padding-top: 5px;
  margin: 0;
}

p a {
  text-decoration: none;
  color: var(--text-color-white);
}
