<div class="footer animation" >
    <ul>
        <li>
          <a routerLink="/seller-auth">Become a Seller</a>
        </li>
        <li>
          <a href="">Polices</a>
        </li>
        <li>
          <a href="">Terms and Conditions</a>
        </li>
        <li>
          <a href="">Help Center</a>
        </li>
        <li>
            <a href="">News</a>
        </li>
        <li>
            <a href="">Facebook</a>
        </li>
        <li>
            <a href="">Youtube</a>
        </li>
        <li>
            <a href="">Sitemap</a>
        </li>
        <li>
            <a href="">FAQ</a>
        </li>
      </ul>
      
      <p>Built with 💗 by<a href="https://codexdebayan.blogspot.com/" target="_blank"> Codex Debayan</a> | All rights reserved © 2023  </p>
      
</div>