<div class="sellerauth">
    <div class="signup" *ngIf="showLogin">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input" ngModel name="name" type="text" placeholder="Enter name">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter password">
            <input class="form-input" ngModel name="email" type="email" placeholder="Enter email">
            <button class="form-button">Sign-up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already Have Account ? Click to login</a>
        </form>
    </div>
    
    <!-- login area -->

    <div class="login" *ngIf="!showLogin">
        <h1>Seller Login</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="login(sellerLogin.value)" class="common-form">
            <input class="form-input" ngModel name="email" type="email" placeholder="Enter email">
            <input class="form-input" ngModel name="password" type="password" placeholder="Enter password">
            
            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account ? Click to Sign-up</a>

        </form>
</div>