:root{
    --primary-color : #6b0000;
    --alternate-color : #5e0440;
    --overlay : #a0a0a077;
    --text-color-white : #fff;
    --alert-color : red;
    --ok-color : green;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}

.common-form{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
}

.form-button{
    height: 35px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    color: var(--text-color-white);
    background-color: var(--primary-color);
    border-radius: 4px;
    
}

.form-button:hover{
    color: var(--primary-color);
    background-color: var(--text-color-white);
    font-weight: bold;
    transition: 0.3s ease;
}

.error-p{
    color:var(--alert-color);   
}